body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url(./img/white-concrete-wall_53876-92803.jpg);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    text-align: right;
    background-color: white;
    width: 330px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 30px;
}

table {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 2.5em;
    border-radius: 10%;
    background-image: url(./img/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg);
    box-shadow: 8px 15px 30px 15px grey;
}

.displaytable {
    display: table;
}

.displaytable-cell {
    display: table-cell;
}

.button {
    width: 60px;
    height: 35px;
    font-size: 20px;
    border-radius: 6px;
    margin: 0.1em;
}

.blackbutton {
    background-color: black;
    color: white;
}

.greenbutton {
    background-color: #91ff7d;
}

.greybutton {
    background-color: #cccccc;
}

.bluebutton {
    background-color: #6288f3;
}

.orangeButton {
    background-color: lightsalmon;
}

.redButton {
    background-color: #f76767;
}

#displayBox {
    text-align: end;
    background-color: palegreen;
    padding: 0;
    width: 11.5em;
}