body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url(./img/white-concrete-wall_53876-92803.jpg);
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 3.5em;
    border-radius: 10%;
    background-image: url(./img/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg);
    box-shadow: 8px 15px 30px 15px grey;
}

.keybord {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
    gap: 10px;
}

.keybord>button {
    font-size: larger;
    border-radius: 25%;
}

.result {
    margin-bottom: 3em;
}

.result>input {
    width: 30em;
    height: 5em;
    text-align: end;
    border-radius: 16%;
    background-color: palegreen;
    padding: 0;
    margin: 0;
}

.igual {
    height: 130px;
    background-color: lightsalmon;
    font-weight: bold;
}

.numeros {
    background-color: lightgoldenrodyellow;
    font-weight: bold;
}

.ac-boton {
    background-color: lightcoral;
}

.funcionesBasicas {
    background-color: lightsteelblue;
}